@using GeoGrafija.ViewModels.Profiles
@model  ProfileViewModel
<div class="profileNameWrapper">
    <div class="padding">
        <h2 class="formHeader">@Model.GeneralViewModel.UserName - Профил :</h2>
    </div>
</div>


