@using GeoGrafija.ViewModels.Profiles
@model ProfileViewModel
<div class="formBackground generalFormLayout" id="MissingProfileForm">
	<h2 class="formHeader">Не ви е доделена улога. Моментално немате профил.</h2>

	<div id="infoMessageMissingProfile">
		Контактирајте го администраторот на оваа апликација ако наскоро не ви биде доделен кориснички профил!
	</div>

	<div class = "clear"></div>

	<p class="formButtonContainer">
		<a id="EmailAdminFromMissingProfile" class="button fixA green" href="mailto:admin@students.mk">Прати порака!</a>
	</p>

</div>