@using GeoGrafija.ViewModels.Profiles
@model ProfileViewModel
<div class="formBackground profileMainMenuActions">
    @Html.Profile_RenderName(Model)
    @Html.Profile_RenderActionBoxes(Model, "Teacher")
    <div class="clear">
    </div>
</div>
<div class="formBackground profileMainCanvasWrapper">
    @Html.Profile_RenderCanvases(Model, "Teacher")
</div>
<script type="text/javascript" src="@Url.ProfileTeacherScript()"></script>