<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <connectionStrings>
        <add name="GeoGrafijaEntities" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="metadata=res://*/GeoGrafijaModel.csdl|res://*/GeoGrafijaModel.ssdl|res://*/GeoGrafijaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=194.0.252.210;Initial Catalog=students_GeoGrafija;User ID=students_GeoAdmin;Password=cVNnqLQFmNuLjz;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
        <add name="ElmahConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=194.0.252.210;Initial Catalog=students_GeoGrafija;User ID=students_GeoAdmin;Password=cVNnqLQFmNuLjz;"/>
    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
 </system.web>
</configuration>