<li>
    @Html.ActionLink("Профил!", "Home","User")
    <div class="icon" data-image="profile.png"></div>
</li>

<li>
    @Html.ActionLink("Логови!", "Index","Elmah")
    <div class="icon" data-image="logs.png"></div>
</li>

<li>
    @Html.ActionLink("Улоги", "Roles","Authorization")
    <div class="icon" data-image="roles.png"></div>
</li>

<li>
    @Html.ActionLink("Корисници", "Users", "Authorization")
    <div class="icon" data-image="users.png"></div>
</li>