@Html.Hidden("MakeTypeLinks", (string)ViewBag.Links)
<div class="locationTypeSearchWrapper">
    <ul class="locationTypeList">
    </ul>
    <div class="clear">
    </div>
</div>
<div class="locTypeLiTemplate" id="locationTypeListTemplate">
    <div class="color">
    </div>
    <a class="content"></a>
    <div class="clear">
    </div>
</div>
<script type="text/javascript" src="@Url.MiscScript("LocationTypeUI.js")"></script>
