@using GeoGrafija.ViewModels

@using GeoGrafija.ViewModels.SearchViewModels

@model  SearchViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="mainSearch">

@RenderBody()

</div>



