<li>
    @Html.ActionLink("Профил!", "Home", "User")
    <div class="icon" data-image="profile.png">
    </div>
</li>
<li>
    @Html.ActionLink("Тестови", "Index", "TakeQuiz")
    <div class="icon" data-image="squiz.png">
    </div>
</li>
<li>
    @Html.ActionLink("Учи!", "Index", "Learning")
    <div class="icon" data-image="learn.png">
    </div>
</li>
