<div id="mapContainer">
    <div id="searchLocationForm">
        <input type="text" class="hintBox" id="tbox_address" value="Побарај на мапата!"/>
        <div class="clear"></div>
        <input value="Најди Локација" type="button" class="button green" id="btn_search" />
    </div>
    <div id="map">
    </div>
</div>