<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GeoGrafijaEntities" connectionString="metadata=res://*/GeoGrafijaModel.csdl|res://*/GeoGrafijaModel.ssdl|res://*/GeoGrafijaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HAL9000;Initial Catalog=GeoGrafija;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>